section,header,article,nav{
    display: block;
}
* {
    padding: 0;
    margin: 0;
}
body{
    margin:1em 10%;
   /*  background-image: url(../images/background.jpg); */
    background-attachment: fixed;
    background-position: top left;
    background-repeat: repeat-x;
    max-width: 80em;
}
header{
    background-image: url(../images/home.jpg); 
    /* border-image: url(../images/home.jpg);  */
    /* background-repeat:no-repeat; */
    background-position:bottom left;
    border-width: .1em;
    border-style: solid;
    border-bottom-width: 0;
}
header img{
    width: 100%;
    opacity: 1;/*不透明度s*/
   /*  -webkit-box-shadow: 9px 9px 9px #666;
    -moz-box-shadow: 9px 9px 9px #666; */
    /* box-shadow: 9px 9px 9px #fff; ok! */
}
header nav{
   /*  background-image: url(../images/background.jpg); */
    background-position: bottom left;
    background-repeat: repeat-x;
    border-width: 0.1em;
    border-style: solid;
    border-bottom-width: 0;
    border-top-width: 0;
    padding-left: 10%;
}
header nav ul{
    width: 100%;
    overflow: hidden;
    border-left-width: .1em;
    border-left-style: solid;
}
header nav li{
    display: inline;
}
header nav li a{
    display: block;
    float: left;
    padding: .5em 2em;
    border-right: .1em solid;
}
article{
    border-width: .1em;
    border-style: solid;
    border-top-width: 0;
    padding: 2em 10%;
    line-height: 1.8em;
    border-radius: 1em;
    /* text-indent: -100px; */
}
article img{
    border-width: .1em;
    border-style: solid;
    outline-width: .1em;
    outline-style: solid;
}


#about header{
    background-image: url(../images/about.jpg);
}
#live header{
    background-image: url(../images/live.jpg);
}
#photos header{
    background-image: url(../images/photos.jpg);
}
#contact header{
    background-image: url(../images/contact.jpg);
}
